body {
  /*background-image: url(/texturetastic_gray.png);*/
}

body > .content {
  margin-top: 2.3em;
}

/* nav template */
.navbar-inner {
  background: none;
  background-color: #EFEFEF;
  border: 1px solid #DEDEDE;
}

.navbar-fixed-top .navbar-inner, .navbar-static-top .navbar-inner  {
   -webkit-box-shadow: 0 0 ;
  -moz-box-shadow: 0 0 ;
  box-shadow: 0 0 ;
}

body > .navbar .brand {
  padding: 3px 0 3px 0;
  margin-left: 20px;
  float: right;
  font-weight: bold;
  color: #AAA;
  text-shadow: 0 1px 0 rgba(255, 255, 255, .1), 0 0 30px rgba(255, 255, 255, .125);
  -webkit-transition: all .2s linear;
  -moz-transition: all .2s linear;
  transition: all .2s linear;
}

.navbar .brand:hover, .navbar .brand:focus {
  color: #444;
}

/* end nav template */


/* schedule template */

#month-view.table th {
  text-align: center;
}

#month-view.table tr.month-title {
  border: none;
  margin-bottom: 10px;
}

#month-view.table tr.month-title th {
  background-color: whiteSmoke;
  border: none;
  height: 80px;
  font-size: 5em;
  color: #666;
  text-align: center;
  margin: 0;
  line-height: 80px;
  font-family: Ubuntu, Arial, sans-serif;
}

#month-view.table tr.days-week th {
  border: 1px solid #ddd;
  font-size: 1.2em;
  color: #666;
  font-family: Ubuntu, Arial, sans-serif;
}

#month-view.table tr.month-title th.month-switcher {

}

#month-view.table tr.month-title th.month-switcher:hover {
  background-color: #DEDEDE;
  color: #333;
  cursor: pointer;
}

#month-view.table td {
  background-color: #FFF;
  border: 1px solid #ddd;
  height: 80px;
  width: 80px;
}

#month-view.table tbody td:hover {
  border-color: rgba(82, 168, 236, 0.8);
  outline: 0;
  outline: thin dotted 9;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(82, 168, 236, 0.6);
  -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(82, 168, 236, 0.6);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(82, 168, 236, 0.6);
}
/* end month-view template */


/* professional info template */
#professional-info > div.personal-info {
  line-height: 9px;
  margin-left: 60px;
}

/* day-view template */

#day-view.table td {
  height: 100px;
}

#day-view.table td.checked {
  background-color: #efefef;
}

#day-view.table tr th.day-switcher:hover {
  background-color: #DEDEDE;
  color: #333;
  cursor: pointer;
}

#day-view.table tr th {
  background-color: whiteSmoke;
  border: none;
  height: 80px;
  font-size: 5em;
  color: #666;
  text-align: center;
  margin: 0;
  line-height: 80px;
  font-family: Ubuntu, Arial, sans-serif;
}

#day-view.table tr th.day-switcher {
  width: 110px;
}

#day-view.table tr th.day-month-switcher:hover {
  cursor: pointer;
  text-decoration: underline;
}
/* end day-view template */
