<template name="calendar">
  <div id="calendar-id">
  <table id="month-view" class="table">
    <thead>
      <tr class="month-title">
        <th class="month-switcher decrease"><</th>
        <th colspan=5></th>
        <th class="month-switcher increase">></th>
      </tr>
      <tr class="days-week">

        <th></th>

      </tr>
    </thead>
    <tbody>
      <tr>
        <td date="2013-03-15" class="month-day"></td>
        <td date="2013-03-15" class="month-day"></td>
        <td date="2013-03-15" class="month-day"></td>
        <td date="2013-03-15" class="month-day"></td>
        <td date="2013-03-15" class="month-day"></td>
        <td date="2013-03-15" class="month-day"></td>
        <td date="2013-03-15" class="month-day"></td>
      </tr>
      <tr>
        <td date="2013-03-15" class="month-day"></td>
        <td date="2013-03-15" class="month-day"></td>
        <td date="2013-03-15" class="month-day"></td>
        <td date="2013-03-15" class="month-day"></td>
        <td date="2013-03-15" class="month-day"></td>
        <td date="2013-03-15" class="month-day"></td>
        <td date="2013-03-15" class="month-day"></td>
      </tr>
      <tr>
        <td date="2013-03-15" class="month-day"></td>
        <td date="2013-03-15" class="month-day"></td>
        <td date="2013-03-15" class="month-day"></td>
        <td date="2013-03-15" class="month-day"></td>
        <td date="2013-03-15" class="month-day"></td>
        <td date="2013-03-15" class="month-day"></td>
        <td date="2013-03-15" class="month-day"></td>
      </tr>
      <tr>
        <td date="2013-03-15" class="month-day"></td>
        <td date="2013-03-15" class="month-day"></td>
        <td date="2013-03-15" class="month-day"></td>
        <td date="2013-03-15" class="month-day"></td>
        <td date="2013-03-15" class="month-day"></td>
        <td date="2013-03-15" class="month-day"></td>
        <td date="2013-03-15" class="month-day"></td>
      </tr>
      <tr>
        <td date="2013-03-15" class="month-day"></td>
        <td date="2013-03-15" class="month-day"></td>
        <td date="2013-03-15" class="month-day"></td>
        <td date="2013-03-15" class="month-day"></td>
        <td date="2013-03-15" class="month-day"></td>
        <td date="2013-03-15" class="month-day"></td>
        <td date="2013-03-15" class="month-day"></td>
      </tr>
      <tr>
        <td date="2013-03-15" class="month-day"></td>
        <td date="2013-03-15" class="month-day"></td>
        <td date="2013-03-15" class="month-day"></td>
        <td date="2013-03-15" class="month-day"></td>
        <td date="2013-03-15" class="month-day"></td>
        <td date="2013-03-15" class="month-day"></td>
        <td date="2013-03-15" class="month-day"></td>
      </tr>
    </tbody>
  </table>
  </div>
</template>
