<template name="calendar">
  <div id="calendar-id">
  <table id="month-view" class="table">
    <thead>
      <tr class="month-title">
        <th id="decrease" class="month-switcher"><</th>
        <th colspan=5>
          <span id="month-id">{{currentMonthName}}</span>
          <span id="year-id">{{currentYear}}</span>
        </th>
        <th id="increase" class="month-switcher">></th>
      </tr>
      <tr class="days-week">

        <th></th>

      </tr>
    </thead>
    <tbody>
      <tr>
        <td date="2013-03-15" class="month-day"></td>
        <td date="2013-03-15" class="month-day"></td>
        <td date="2013-03-15" class="month-day"></td>
        <td date="2013-03-15" class="month-day"></td>
        <td date="2013-03-15" class="month-day"></td>
        <td date="2013-03-15" class="month-day"></td>
        <td date="2013-03-15" class="month-day"></td>
      </tr>
      <tr>
        <td date="2013-03-15" class="month-day"></td>
        <td date="2013-03-15" class="month-day"></td>
        <td date="2013-03-15" class="month-day"></td>
        <td date="2013-03-15" class="month-day"></td>
        <td date="2013-03-15" class="month-day"></td>
        <td date="2013-03-15" class="month-day"></td>
        <td date="2013-03-15" class="month-day"></td>
      </tr>
      <tr>
        <td date="2013-03-15" class="month-day"></td>
        <td date="2013-03-15" class="month-day"></td>
        <td date="2013-03-15" class="month-day"></td>
        <td date="2013-03-15" class="month-day"></td>
        <td date="2013-03-15" class="month-day"></td>
        <td date="2013-03-15" class="month-day"></td>
        <td date="2013-03-15" class="month-day"></td>
      </tr>
      <tr>
        <td date="2013-03-15" class="month-day"></td>
        <td date="2013-03-15" class="month-day"></td>
        <td date="2013-03-15" class="month-day"></td>
        <td date="2013-03-15" class="month-day"></td>
        <td date="2013-03-15" class="month-day"></td>
        <td date="2013-03-15" class="month-day"></td>
        <td date="2013-03-15" class="month-day"></td>
      </tr>
      <tr>
        <td date="2013-03-15" class="month-day"></td>
        <td date="2013-03-15" class="month-day"></td>
        <td date="2013-03-15" class="month-day"></td>
        <td date="2013-03-15" class="month-day"></td>
        <td date="2013-03-15" class="month-day"></td>
        <td date="2013-03-15" class="month-day"></td>
        <td date="2013-03-15" class="month-day"></td>
      </tr>
      <tr>
        <td date="2013-03-15" class="month-day"></td>
        <td date="2013-03-15" class="month-day"></td>
        <td date="2013-03-15" class="month-day"></td>
        <td date="2013-03-15" class="month-day"></td>
        <td date="2013-03-15" class="month-day"></td>
        <td date="2013-03-15" class="month-day"></td>
        <td date="2013-03-15" class="month-day"></td>
      </tr>
    </tbody>
  </table>
  </div>
</template>
